/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --main-text-color: #F1B2CE;
  --button-color: #FF0070;
  --decoration-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .decoration {
  display: block;
}
