/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
 --title-color: #FFC2E6;
 --accent-color: #FF8DCB;
 --main-text-color: #353430;
 --button-color: #353430;
 --decoration-color: #353430;
 --background-color: #FFF1F7;
 --background-image: url(../images/cover-image-light.png);
}


.theme-light .decoration {    
  display: none;
}

.theme-light .content-section__title {
  color: var(--main-text-color)
}


@media(prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --button-color: #353430;
    --decoration-color: #353430;
    --background-color: #FFF1F7;
    --background-image: url(../images/cover-image-light.png);
  }

  .decoration {    
    display: none;
  }
}

