:root {
  --background-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --section-title-color: #ff0070;
  --main-text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-hover: #FF007066;
  --decoration-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}
